@font-face {
  font-family: 'MyFont'; 
  src: url('pixel.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
    overflow: hidden;
}

body {
    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: 'MyFont', cursive;
    user-select: none;
}
header {
    margin: 0 auto;
    width: 431px;
}
h1 {
    background: url("https://i.ibb.co/Q9yv5Jk/flappy-bird-set.png") 0% 340px;
    padding: 1.2rem 0;
    margin: 0;
    color: purple;
}
.score-container {
    display: flex;
    justify-content: space-between;
    padding: 8px 6px;
    background: #5EE270;
    color: red;
}
/*// Copyright by HETHONGCODE.COM
// Developed by Vo Nam
// FB:https://www.facebook.com/namvo.az/
// Tele/Zalo:@tannam76 */
